@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Cormorant+Garamond:wght@600&family=Raleway:wght@600&family=Merriweather:wght@600&display=swap');


body {
  margin: 0;
  height: 100vh;
  background: #fde9f3;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

/* ===== CORAZONES ===== */
#hearts {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
}

.heart {
  position: absolute;
  top: -120px;
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(130vh);
  }
}

.layer-back { opacity: 0.3; filter: blur(1.4px); }
.layer-mid  { opacity: 0.55; filter: blur(0.7px); }
.layer-front{ opacity: 0.9; }

/* ===== CONTENIDO ===== */
.container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/* TEXTO */
.title-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  background: #ff9ee6;
  padding: 20px 60px;
  border-radius: 25px;
}

.title-box h1 {
  color: white;
  margin: 0;
  animation: textFade 4s infinite;
  transition: 
    font-family 0.6s ease,
    letter-spacing 0.6s ease,
    font-size 0.6s ease;
}

@keyframes textFade {
  0% { opacity: 0; transform: scale(0.95); }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; transform: scale(1.05); }
}

/* POLAROIDS */
.polaroid {
  position: absolute;
  background: white;
  padding: 12px;
  width: 140px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  animation: float 6s ease-in-out infinite;
  cursor: pointer;
  transition: transform 0.3s;
}

.polaroid img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

/* flotación */
@keyframes float {
  50% { transform: translateY(-15px) rotate(var(--rot)); }
}

/* posiciones */
.left   { top: 15%; left: 10%; --rot: -20deg; }
.right  { top: 18%; right: 10%; --rot: 15deg; }
.bottom { bottom: 15%; left: 40%; --rot: -10deg; }

/* agrandada */
.polaroid.active {
  transform: scale(1.5) rotate(0deg) !important;
  z-index: 5;
}

/* móvil */
@media (max-width: 600px) {
  .polaroid { width: 110px; }
  .polaroid img { height: 110px; }
  .polaroid.active { transform: scale(1.3) !important; }
  .title-box h1 { font-size: 20px; }
}
